---
  env:
    node: true

  rules:
    quotes:
      - 2
      - 'single'
    curly:
      - 2
      - 'multi'
    no-use-before-define:
      - 2
      - 'nofunc'
    new-cap:
      - 2
      - capIsNew: false
    no-sparse-arrays:
      - 0
